.container {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les images */
    padding-top: 20px; /* Rembourrage en haut du conteneur */
    padding-bottom: 20px; /* Rembourrage en bas du conteneur */
    margin-top: 20px; /* Espacement en haut du conteneur */
    margin-bottom: 20px; /* Espacement en bas du conteneur */
  }
  
  .image-container {
    flex: 1; /* Chaque image-container occupe un tiers de l'espace */
    text-align: center; /* Pour centrer le texte de la description */
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Ombre orientée en bas à droite */
    margin-right: 10px; /* Espacement entre les boîtes à droite */
  }
  
  .image-container img {
    width: 100%; /* Définit une largeur de 100% pour que toutes les images aient la même taille */
    height: 200px; /* Définissez la hauteur fixe souhaitée pour les images */
    object-fit: cover; /* Remplit la zone avec l'image en conservant ses proportions */
    border-top-left-radius: 10px; /* Coin supérieur gauche */
    border-top-right-radius: 10px; /* Coin supérieur droit */
  }
  
  .image-container p {
    margin-top: 10px; /* Espace entre l'image et la description */
  }

  .image-container:last-child {
    margin-right: 0; /* Supprime la marge à droite de la dernière boîte */
  }
  
  .image-link {
    border-radius: 10px; /* Bords arrondis uniquement pour les boîtes avec des liens */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Ombre orientée en bas à droite */
    overflow: hidden; /* Masque le débordement de l'image */
  }
  
  .image-link a {
    display: block; /* Fait du lien un bloc pour occuper toute la zone cliquable */
    text-decoration: none; /* Supprime la décoration par défaut du lien */
    color: inherit; /* Hérite la couleur du texte du parent */
  }
  
  .image-link img {
    width: 100%; /* Définit une largeur de 100% pour que toutes les images aient la même taille */
    height: auto;
    max-height: 200px; /* Définissez la hauteur maximale souhaitée */
  }
  
  iframe {
    width: 100%; /* La largeur de l'iframe prendra 100% de la largeur de l'écran */
    height: 100vh; /* La hauteur de l'iframe prendra 100% de la hauteur de l'écran */
    border: none; /* Pour supprimer les bordures de l'iframe */
  }

  .techno {
    background-color: #457B9D; 
    color: white;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px; 
    font-weight: bold;
    margin-left: 10px; 
    vertical-align: middle;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }
  
  .techno:hover {
    background-color: #457B9D;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 15px;
    padding: 20px;
    justify-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: contain; 
  }
  
  .image-container:hover {
    transform: scale(1.05);
  }
  
  .profil-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 20, 0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: zoomIn 0.3s ease-in-out;
  }
  
  .close {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
  }
  
  .close:hover, .close:focus {
    color: black;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes zoomIn {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr; 
    }
  }
  
  .no-scroll {
    overflow: hidden;
    height: 100%;
  }